{% extends 'base.html' %}
{% block content %}
<div class="card p-4 shadow-sm">
  <h2 class="mb-3">📖 Select Course</h2>

  <form method="POST">
    <div class="mb-3">
      <label for="course" class="form-label">Choose a course</label>
      <select class="form-select" id="course" name="course_id" required>
        {% for c in courses %}
        <option value="{{ c['course_id'] }}">{{ c['course_name'] }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">View Students</button>
  </form>

</div>
{% endblock %}
